
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css"></link>
</head>


<body>

 <div class="d-flex justify-content-center mt-4">
    <h3 class="list">Vacation Builder</h3>
    </div>

    <div class="d-flex justify-content-center flex-row mt-5">
    <h3 class="list">Login</h3>
    <form action='/profile' method='post' class="items-align-center flex-column mt-3">
    <input type="text" name="username"/>
    <input type="text" name="password"/>
    <input type="submit"/>
    </form>

    
    <h3 class="list">Register</h3>
    <form action='/profile' method='post' class="items-align-center flex-column mt-3">
    <input type="text" name="usernameReg"/>
    <input type="text" name="passwordReg"/>
    <input type="submit"/> 
    </form>
    </div>
    </div>

    

</body>
<script src="trips.js"></script>
</html>